#blogs{
    background-color: rgb(216, 213, 213);
    margin-top: -28px;
    text-align: center;
    padding-bottom: 40px;
    
}
#blogs>h1{
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
#blogscontainer{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#blogscontainer>div{
    width: 30%;

}
#blogscontainer>div>img{
    width: 100%;
}
#blogscontainer>div>p{
    font-family: "Montserrat",sans-serif;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: rgb(36, 34, 34);
}
#blogs>button{
    background-color: red;
    color: white;
    font-family: "Montserrat",sans-serif;
    padding: 15px 35px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    letter-spacing: 2px;
    
}
#KLRahul{
    display: flex;
    background-color:rgb(17, 16, 16);
    color: white;
    padding: 5% 0%;
    padding-left: 10%;
}
#KLRahul>div:first-child{
    width: 50%;
    
}

#KLRahul>div:first-child>img{
    width: 100%;
    border-radius: 5px;
}
.KLR>h3{
    font-family: "Montserrat",sans-serif;
    font-size: 35px;
    
}
.KLR{
    padding: 50px 40px 0px 100px; 
}
.KLR>h3+hr+p{
    color: red;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
}
p+h4{
    font-family: "Montserrat",sans-serif;
    font-size: 30px;

}
h4+p{
    /* font-family: "Montserrat",sans-serif; */
    font-size: 15px;
    font-weight: 50;
    line-height: 20px;
    padding-right: 40%;
    
}

#About{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    
    
}
.head{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    
}
.circle{
    border: 1px solid red;
    height: 250px;
    width: 20%;
    border-radius: 80%;
    margin-left: 50px;
    
}


.circlebelow{
    border: 1px solid red;
    background-color: red;
    margin:auto;
    border-radius: 0px 0px 20px 20px;
    height: 150px;
    width: 120%;
    display: grid;
    justify-content:center;
    
    
}
.circlebelow>p{
    color: white;
    text-align: center;
    /* padding: 10px -20px -20px -20px; */
    margin: 20px 30px 0px 30px;
}

.circlebelow>button{
     width: 60%;
     margin: 0px 30px -40px 65px ;
     height: 40px;
     margin-top: -30px;
     border-radius: 5px;
     border: none;
    
}
