
#shubham{
    background-color: rgb(41, 38, 38);
   display: flex;
   padding-top: 60px;
   width: 100%;
   padding-bottom: 80px;
  
   /* gap: 80px; */
}

#tyagi{
    border-radius: 5px;
    background-color: rgb(82, 78, 78);
    width: 54%;
    margin-left: 150px;
   
}
body{
    padding: 0px;
    margin: 0px;
}
#tyagi>img{
    width: 100%;
    animation-name: shub;
    animation-fill-mode: forwards;
    animation-duration: 3s; 
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
@keyframes shub {
    from {top: 0px;}
    to {top: 30px;}
   
    from {bottom: 0px;}
    to {bottom: 30px;}
   
}
#st{
    padding-left: 100px;

}
#st>h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 35px;

}
#st>h1+p{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: -15px;
}
#st>.rockstar{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.712);
    gap: 3px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: -25px;
}
#suraj{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-top: -30px;

}
#suraj>p:first-child{
    color: #ed1c24;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
#suraj>p:last-child{
    color: rgba(255, 255, 255, 0.788);
    text-decoration: line-through;
    font-size: 12px;
}
#suraj+p{
    margin-top: -25px;
    color: rgba(255, 255, 255, 0.788);
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 100;
}
#suraj+p+p{
    display: flex;
    color: white;
    gap: 5px;
    font-size: 11px;
    font-family: sans-serif;
    align-items: center;
}
#suraj+p+p>img{
    width: 20%;
    border-radius: 0px;
}
#suraj+p+p+p{
    display: flex;
    color: white;
    gap: 5px;
    font-size: 13px;
    font-family: sans-serif;
    align-items: center;
    font-weight: 600;
}
p+p+p>img{
    width: 17%;
}
#ion{
    background-color: rgb(41, 38, 38);
    padding-top: 20px;

}
#ion>p:first-child{
    text-align: center;
    color: red;
    padding-bottom: 12px;
    font-family: sans-serif;
    font-size: 20px;
    

}

#smart{
    color:black;
    font-size:18px;
    padding: 0px 0px 18px;
    border: solid red;
    border-width: 0px 0px 5px 0px;
    width:20%;
    text-align:center;
    margin:auto;
    font-weight:bold;
    font-size: 30px;
    font-family: sans-serif;

}
#smartWatches{
    display:flex;
    width:91%;
    margin:auto;
    justify-content: space-around;
    margin-top:70px;
    margin-bottom: 38px;
}
.card1{
    width:22.5%;
    height:auto;
    background-color:#252525;
    border-radius:12px;
    padding: 0px 5px 2px 5px;
    background-color: rgba(245, 240, 233, 0.99);
}
.card1>div:first-child{
    padding: 0px 30px 0px 30px;
    border-radius:12px 12px 0px 0px;
}
.card1>div>img{
    width:100%;
    margin:auto;
}
.card1>div:last-child{
    background-color:azure;
    color:black;
    border-radius:12px;
    padding-left:15px;
    padding-bottom:5px;
    font-size: 15px;
}

.trebel{
    display: flex;
    gap: 10px;
    margin-bottom: -20px;
}
/* .my{
    display: flex;
    gap:10px;
    color: gray; } */
    

/* .my>p{
    color: red;
}
.my>p+P{
    font-size: 13px;
    text-decoration: line-through;
    color: gray;
    padding-top:5px;

} */
