.topSeller{
    background-color:rgb(15, 15, 15);
    margin-top:-27px;
    padding-top:40px;
    font-size:22px;
    font-weight:bold;
    color:aliceblue;
   padding-bottom:30px;
}
.topSeller>h1{
    font-family: 'Montserrat', sans-serif;;
}
#smart{
    color:#FF0000;
    font-size:18px;
    padding: 0px 0px 18px;
    border: solid red;
    border-width: 0px 0px 5px 0px;
    width:20%;
    text-align:center;
    margin:auto;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}
#smartWatches{
    display:flex;
    width:91%;
    margin:auto;
    justify-content: space-around;
    margin-top:70px;
}
.card1{
    width:22.5%;
    height:auto;
    background-color:#252525;
    border-radius:12px;
    padding: 0px 5px 2px 5px;
    background-color: rgba(245, 240, 233, 0.99);
}
.card1>div:first-child{
    padding: 0px 30px 0px 30px;
    border-radius:12px 12px 0px 0px;
}
.card1>div>img{
    width:100%;
    margin:auto;
}
.card1>div:last-child{
    background-color:azure;
    color:black;
    border-radius:12px;
    padding-left:15px;
    padding-bottom:5px;
}
.star{
    display:flex;
    align-items: center;
    gap:10px;
    font-size:13px;
    color:grey;
    font-weight:lighter;
}
.star>p{
    font-family:sans-serif;
}
.star+h3{
    font-size:17.5px;
    color:black;
    font-family: 'Montserrat', sans-serif;
    margin-top:-7px;
}
.star+h3+div{
    display:flex;
    gap:20px;
    align-items: baseline;
    margin-top:-25px;
    font-family: 'Montserrat', sans-serif;

}
.star+h3+div>p:first-child{
    color:#ff0000;
    font-size:16px;
}
.star+h3+div>p+p{
    text-decoration: line-through;
    color:grey;
    font-size:12px;
}
.card1>div:last-child>ul{
    margin-top:-3px;
    font-size:14px;
    color:rgb(94, 94, 94);
    font-weight:400;
    font-family: sans-serif;
    margin-left:-40px;
    line-height: 19px;
}
.card1>div:last-child>ul {
    list-style: none; /* Remove default bullets */
  }
  
  .card1>div:last-child>ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
   /* Also needed for space (tweak if needed) */
  }
  .topSeller+.topSeller>#smartWatches>.card1>div:last-child{
      height:190px;
  }
  #newLaunches{
    background-color:rgb(15, 15, 15);
    margin-top:-27px;
    padding-top:40px;
    font-size:22px;
    font-weight:bold;
    color:aliceblue;
   padding-bottom:30px;
}
#newLaunches>h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.slide1{
    width:85%;
    margin:auto;
    display:flex;
    border-radius:20px;
}
.slide1>.slide1Img{
    width:46%;
    height:100%;
}
.slide1>.slide1Img>img{
    width:100%;
    border-radius:20px 0px 0px 20px;
}
.slide1Img2{
    width:54%;
    background-color: aliceblue;
    border-radius:0px 20px 20px 0px;
    margin-bottom:5.5px;
}
.slide1Img2>div:first-child{
    height:45%;
    display:flex;
}
.slide1Img2>div:first-child>div:first-child{
    width:20%;
    padding:40px 0px 0px 0px;
}
.slide1Img2>div:first-child>div:last-child{
    display:grid;
    /* justify-content:center; */
    margin:auto;
    padding-right:120px;
}
.slide1Img2>div>div>img{
    width:60%;
}
.slide1Img2>div>div+div>p{
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    color:rgb(169, 163, 163);
    text-align:center;
}
.slide1Img2>div>div+div>h3{
    color:black;
    font-family: 'Montserrat', sans-serif;
    margin-top:-30px;
}
.slide1Img2>div>div+div>h3+p{
    background-color:red;
    color:white;
    padding:5px; 
    font-family:sans-serif;
    width:200px;
    text-align: center;
    margin:auto;
}
.slide1Img2>div>div+div>h3+p+p{
    color:red;
    font-size:25px;

}
.desFea{
    display:flex;
    text-align: center;
    margin:auto;
    width:70%;
    justify-content: center;
}
.fea+div+div,.fea+div{
    display:none;
    color:rgb(81, 77, 77);
    font-size:16.5px;
    line-height:25px;
    font-weight:400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:justify;
}
.des,.fea{
    background-color:rgb(152, 149, 149);
    border:none;
    color:white;
    margin-left:20px;
   padding:4px 8px;

}